$black-900: #000000;
$black-800: #262626;
$black-700: #434343;
$black-600: #555555;
$black-500: #7b7b7b;
$black-400: #9d9d9d;
$black-300: #c4c4c4;
$black-200: #d9d9d9;
$black-100: #e9e9e9;
$black-50: #f5f5f5;

$red-900: #da0000;
$red-800: #f10000;
$red-700: #ff0000;
$red-600: #ff1507;
$red-500: #ff200c;
$red-400: #ff5436;
$red-300: #ff795b;
$red-200: #ffa28a;
$red-100: #ffc7b8;
$red-50: #ffe7e6;
